@charset "UTF-8";

/* reset zerados: */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

main {
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
}

#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    background-size: cover;
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 14px;
    margin-left: 2rem;
    transition: .5s;   
}

@media (max-width: 450px) {

    #redes-sociais {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 auto;
        width: 70%;
        transition: .5s;
    }   
    
}



#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    box-sizing: border-box;
    transition: .3s;
}

#redes-sociais img:hover {
    border: 4px solid rgba(255, 255, 255, 0.659);
    scale: 1.2;
    transform: translate(-3px, -3px);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.785);
}